.Form {
  background-color: #0087e2;
  color: #fff;
  font-size: 1.2;
  font-weight: bolder;
  border-radius: 10px 50px 10px 50px;
  width: 400px;
  padding: 30px;
  margin: auto;
}

.Label {
  display: block;
  font-size: 1.2em;
  text-align: center;
  margin:  0 0 20px 0;
}

.Error {
  background-color: rgb(216, 75, 75);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
  width: 200px;
  margin: auto;
}

.Input {
  display: block;
  background-color: #0087e2;
  color: #fff;
  border: none;
  border-bottom: solid 2px #fff;
  width: 60px;
  height: 50px;
  margin: 10px auto;
  padding-left: 5px;
  font-size: 1.3em;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.Button {
  display: block;
  background-color: #fff;
  color: #0087e2;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: auto;
  margin: 20px auto;
  padding: 10px;
}

.Button:hover {
  background-color: #fff;
}

.Button:disabled {
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}